*{
    font-family: ubuntu;
}
.meet-parent{
 
    /* background: linear-gradient(120deg,#075856,#10a19f,#075856); */
    background:rgb(43, 42, 42);
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh
}
.meet-outer-layout{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    position: relative;
    overflow-x: hidden;
}
.members-with-config{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    place-items: center;
    height:100%;
    position: relative;
}
@keyframes meet-slide-left {
    0%{
        width: 100%;
    }
    100%{
        width: 80%;
    }
}
@keyframes meet-slide-right {
    0%{
        width: 80%;
    }
    100%{
        width: 100%;
    }
}
.meet-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.meet-icons img{
    width: 50px;
    height: 50px;
    margin: 20px;
}

.members-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    place-items: center;
    flex-wrap: wrap;
    overflow: auto;
}
.camera-off-member{
    margin: 20px;
    width: 400px;
    height: 200px;
    background: linear-gradient(110.08deg, rgba(31, 59, 68, 0.4) 4.89%, rgba(31, 59, 68, 0.1) 93.4%);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(31, 7, 116, 0.5);
    border-right: 1px solid rgba(31, 7, 116, 0.5);
    box-sizing: border-box;
    box-shadow: 0px 1px 24px -1px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 27px;
    display: flex;
    justify-content: center;
    place-items: center;
}
.member-name{
    width:90px;
    height:90px;
    border-radius: 50%;
    display: flex;
    justify-content:center;
    place-items: center;
    color: #ffffff;
    font-size: 2rem;
    box-shadow:5px 5px 10px rgb(51, 50, 50),-1px -1px 5px #ffffff;
}

.meet-options{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    place-items: center;
    background: linear-gradient(110.08deg, rgba(31, 59, 68, 0.4) 4.89%, rgba(31, 59, 68, 0.1) 93.4%);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(31, 7, 116, 0.5);
    border-right: 1px solid rgba(31, 7, 116, 0.5);
    box-sizing: border-box;
    box-shadow: 0px 1px 24px -1px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    width: 300px;
    padding:10px;
    border-radius: 27px;
    margin-bottom: 70px;
}
.meet-controllers
{
    color: #fff;
    font-size: 2em;
}
.meet-controllers:hover{
    cursor: pointer;
}
.Modal-Box-Meet-options{
    display: flex;
    justify-content: space-evenly;
    place-items: center;
}
.meet-modal-controllers{
    font-size:1.4em
}
.ReactModal__Content
{
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.name-input-meet{
    width: 80%;
    border: none;
    outline: none;
    border-bottom: 1px solid #C4BCBC;
    padding:10px;
    font-family: Ubuntu;
    margin: 10px;
    font-size: 1.1em;
}
.Modal-Box-Meet-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    place-items: center;
}
@media screen and (max-width:660px) {
    .members-row{
        width: 100%;
        overflow:auto;
        order: 2;
    }
    .members-with-config{
        justify-content: flex-start;
    }
    .meet-options{
        margin: 20px;
        order: 1;
    }
    .camera-off-member{
        width: 90%;
    }
    .ReactModal__Content
    {
        width: 70%;
    }
}